---
// import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";

import Layout from "#layouts/Layout.astro";
import BlogPosts from "#components/BlogPosts.astro";

export async function getStaticPaths({ paginate }) {
  const allPosts = await getCollection("posts");
  return paginate(allPosts, { pageSize: 2 });
}

const { page } = Astro.props as any;
---

<Layout>
  <ul data-list="unstyled">
    {
      page?.data.map((post: any) => (
        <BlogPosts
          url={post.slug}
          title={post.data.title}
          description={post.data.description}
        />
      ))
    }
  </ul>
  <nav>
    <div>
      {page?.url?.prev && <a href={page?.url?.prev}>Previous</a>}
    </div>
    <div>
      {page?.url?.next && <a href={page?.url?.next}>Next</a>}
    </div>
  </nav>
</Layout>
