---
import { getCollection } from "astro:content";
import BlogPosts from "./BlogPosts.astro";

/**
 * The props for the CollectionList component.
 * @typedef {Object} Props
 * @property {string} [contentTitle] - The title to display for the collection.
 * @property {number} [pageSize] - The number of items per page.
 * @property {string} [to] - The link for the "View All" button.
 * @property {any} [collection] - The collection to display.
 */
export type Props = {
  collectionTitle?: string;
  pageSize?: number;
  to?: string;
  collection?: any;
};

const { collectionTitle, pageSize, to, collection } = Astro.props;
const allPosts = await getCollection(collection || "posts");
allPosts.sort(
  (a: any, b: any) => b.data.pubDate.getTime() - a.data.pubDate.getTime()
);
const collectionLists = allPosts.slice(0, pageSize || 3);
---

{collectionTitle && <h3 data-ui="display">{collectionTitle}</h3>}

{
  collectionLists?.map((post: any) => (
    <BlogPosts
      title={post.data.title}
      description={post.data.description}
      url={`/${to || "posts"}/${post.slug}`}
    />
  ))
}
