---
import Layout from "./Layout.astro";
import Youtube from "#components/astro/Youtube.astro";
import Img from "#components/astro/Img.astro";
import { fade } from "astro:transitions";

const { frontmatter } = Astro.props;
const { slug } = Astro.params;

const contentRoute = [
  {
    name: frontmatter.title,
    url: "", // not necessary for post paths
    path: slug?.toString(),
  },
];
---

<Layout
  pageTitle={frontmatter.title}
  pageDescription={frontmatter.description}
  breadcrumbRoutes={contentRoute}
>
  {
    frontmatter.image && (
      <>
        <Img
          imgSrc={frontmatter.image.url}
          imgAlt={frontmatter.image?.alt}
          imgCaption={frontmatter.image?.caption}
        />
      </>
    )
  }
  {
    frontmatter.youtube?.id && (
      <p>
        <Youtube id={frontmatter.youtube.id} />
      </p>
    )
  }

  <slot />
  {
    frontmatter.tags && frontmatter.tags.length > 0 && (
      <div>
        <ul class="tags" data-list="unstyled inline">
          {frontmatter.tags.map((tag: string) => (
            <li class="tag">
              <a href={`/tags/${tag}`}>
                <span data-tag>{tag}</span>
              </a>
            </li>
          ))}
        </ul>
      </div>
    )
  }
</Layout>
